.env
.vscode/*
template/*
bin
build
contracts/artifacts
node_modules
_doc
dist
.cache
thumbs.db
!.gitkeep
.DS_Store
yarn.lock
yarn-error.log
npm-debug.log
npm-debug.log.*
src/trade/errorLog
src/trade/tempUserData